.personal-info{
    background-color: white;
    color:#e67e22;
    border:white solid 2px;
    border-radius:25px;
    padding:20px;
}
.personal-photo{
    margin-bottom:30px;}

.btn.btn-default{
    border:#e67e22 solid 1px;
    background-color: #e67e22;
    color:white;
}

h6{
    color:white;
}

div.col-lg-8.text-left
{
    margin-top:10px;
}
